:root {
  --first-color-text: #212121;
  --second-color-text: #757575;
  --accent-color-text: #2196f3;
  --white-color: #ffffff;
}
/*первый основной основной цвет текста #212121*/
/*Второй цвет текста #757575*/
/*акцент цвета текста #2196F3*/
/*цвет фона шапки #FFFFFF*/
/*цвет фона секции заказа и подвала #2F303A*/
/*цвет фона направления #E5E5E5*/
/*цвет фона направления #F5F4FA*/

/*шапка сайта*/
.logo-header {
  color: var(--accent-color-text);
}

.logo-header span {
  color: var(--first-color-tex);
}

.site-nav .link {
  color: var(--first-color-text);
}

.address-nav .link {
  color: var(--second-color-text);

}

.site-nav .link:hover,
.site-nav .link:focus,
.address-nav .link:hover,
.address-nav .link:focus {
  color: var(--accent-color-text);
}

.header {
  background-color: var(--white-color);
}

/*caption*/
.caption{
    color: var(--first-color-text);
}

/*section-order*/
.section-order {
  background-color: #2f303a;
}

.section-order .caption{
    color: var(--white-color);
}

.
