:root {
  --first-color-text: #212121;
  --second-color-text: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
}
/*первый основной основной цвет текста #212121*/
/*Второй цвет текста #757575*/
/*акцент цвета текста #2196F3*/
/*цвет фона шапки #FFFFFF*/
/*цвет фона секции заказа и подвала #2F303A*/
/*цвет фона - наши качества и направления #E5E5E5*/
/*цвет фона - наша команда #F5F4FA*/

/*============ Страница студиа =============*/

body {
  letter-spacing: 0.03em;
  background-color: var(--white-color);
  color: var(--first-color-text);
}

/*текст/абзац*/
.text {
  color: var(--second-color-text);

  font-family: Roboto, sans-serif;
  font-weight: 400;
}

/*заголовки*/
.caption {
  font-family: Roboto, sans-serif;
}

/*сылки*/
.link,
.logo-header,
.logo-footer {
  text-decoration: none;
}

/*списки*/
.without-dot {
  list-style: none;
}

/*шапка сайта*/
.logo-header {
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-header span {
  color: var(--first-color-text);
}

.site-nav .link {
  color: var(--first-color-text);

  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link.current {
  color: var(--accent-color);
}

.address-nav .link {
  color: var(--second-color-text);

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus,
.address-nav .link:hover,
.address-nav .link:focus {
  color: var(--accent-color);
}

.header {
  background-color: var(--white-color);
}

/*section-order*/
.section-order {
  background-color: #2f303a;
}

.section-order .caption {
  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.section-order .link {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/*section-skil*/
.section-skils .caption {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.section-skils .text {
  font-size: 14px;
  line-height: 1.71;
}

/*section-direction*/
.section-direction .caption {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/*Наша команда*/
.section-team {
  background-color: #f5f4fa;
}

.section-team .caption {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.section-team .caption.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.section-team .text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

/*подвал сайта*/
.footer {
  background-color: #2f303a;
}

.footer .logo-footer {
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-footer span {
  color: var(--white-color);
}
.footer address {
}

.footer .contacts {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer .text-address {
  color: var(--white-color);
}

.footer .link {
  color: rgba(255, 255, 255, 0.6);
}

/*============ Страница портфолио =============*/

/*section-item*/
.section-item h1 {
  color: var(--white-color);
}
.section-item .caption {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.section-item .text {
  font-size: 16px;
  line-height: 1.87;
}
